<!DOCTYPE html>
<html>
  <head>
    <title>ECommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
	<header>

	<!-- お知らせ用バー -->
	<div class="top-menu top-menu-inverse">
	  <div class="container">
		  <p><span class="left">ここにはお知らせ等を記入する場所にする <span class="text-primary"><strong>強調</strong></span>ここで挟まれる</span>
		  </p>
	  </div>
	</div>
	<!-- 遷移用バー -->
	<div class="top-menu top-menu-inverse">
	<div class="container">
		<p>
			<span class="right">
				<%= link_to "Myアカウント", '#', class:"lnr lnr-user" %>
				<%= link_to "ログイン", '#', class:"lnr lnr-lock" %>
				<%= link_to "新規登録", '#', class:"lnr lnr-lock" %>
				<%= link_to "カート (2)", '#', class:"lnr lnr-cart" %>
			</span>
		</p>
	</div>
	</div>
	</header>
	
	  <%= yield %>
</html>
